*{
    margin: 0;
    font-family: arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    
}

.nav_logo{
    height: 50px;
    width: 113px;

}
.logo{
    background-image: url("amazon.png");
    background-size:cover;
    height: 40px;
    width: 100%px;
    margin-top: 7px;
 

}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

/*box-2*/

.add_first{
    font-size: 0.75rem;
    color: #cccccc;
    margin-left: 15px;
}
.add_second{
    font-size: 1rem;
    color: #ffffff;
    margin-left: 3px;

}
.adress_icon{
    display: flex;
}

/*******box-3********/
.nav_search{
    display: flex;
    margin: 1px;
}
.nav_search:hover{
    border: 3px solid orange;
    border-radius: 4px;
}
.search_icon{
    background-color: #febd68;
    width: 45px;
    height: 40px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #0f1111;
}
.search_select{
    background-color: #e6e6e6;
    width: 51.6px;
    height: 40px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search_bar{
    width: 454px;
    font-size: 1rem;
    display: flex;
    border: none;
}

/*---box-4---*/
.nav_flag{
    display: flex;
}
.nav_flag_logo{
    width: 21.6px;
    height: 16.2px;
    background-image: url("indian_logo.jpeg");
    background-size: cover;
}
.nav_countryOpt{
    background-color: #0f1111;
    border: none;
    color: #cccccc;
}
.nav_country{
    display: flex;
}
.para{
    margin-left: 3px;
}

/***box--5**/
.nav_first{
    color: #ffffff;
    font-size:0.75rem ;
}
.nav_second{
    display: flex;
}
.nav_account{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
}
.nav_signOpt{
    background-color: #0f1111;
    color: #ffffff;
    display: flex;
    border: none;
}

/***box-7****/
.nav_cart i{
    font-size: 30px;
}
.nav_cart{
    font-size: 1rem;
    font-weight: 700;
}


/* panel */
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
}
.panel_all{
   
}

.panel_opt p{
    display: inline-block;
    margin-left:15px ;
}
.panel_opt{
    width: 70%;
    font-size: 0.85rem;
}

.panel_deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/* hero section */

.hero_section{
    background-image: url("hero-page.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero_msg{
    background-color: white;
    color: #0f1111;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 95%;
    margin-bottom: 50px;
}

.hero_msg a{
    color: #007185;
}

/**content**/
.content_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e3e6e6;

}
.box{
    margin-top: 20px;
    height: 420px;
    width: 356px;
    background-color: white;
    padding: 20px 0px 15px;
}
.box-img{
    height: 276px;
    width: 310px;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 20px;
    

}
.box-content{
    margin: 20px;
}
.box-content a{
    color: #007185;
}

/* margin grey */
.hero-margin{
    height: 20px;
    background-color: #e3e6e6;
}

/* sign in */
.signin-opt{
    height: 126px;
    color: black;
    border: 1px solid #999999;
    border-radius: 5px;
    margin-top: 20px;
}
.signin-opt p{
    font-size: 13px;
    margin-top: 35px;

}
.signin-opt div{
    display: flex;
    justify-content: center;
    align-content: center;
}
.signin-opt button{
    background-color: #ffe093;
    width: 15%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid orange;
    border-radius: 5px;
}
.signin-anchor{
    margin-top: 5px;
    font-size: 11px;
}
.signin-anchor a{
    color: #007185;
}



/*footer*/
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-top: 20px;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 340px;
    display: flex;
    justify-content: space-evenly;
}

ul a {
    display: block;
    font-size: 0.9rem;
    color: #dddddd;
    margin-top: 10px;
}
ul p{
    font-size: 16px;
    font-weight: 700;
    margin-top: 55px;
}
/*panel-3*/
.foot-panel3{
    background-color:#222f3d ;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.01px solid #dddddd;
}
.foot-logo{
    height: 30px;
    width: 85px;
    display: inline;
}

.logo-2{
    background-image: url("amazon.png");
    background-size:cover;
    height: 30px;
    width: 85px;
}

.foot-language{
    color: #dddddd;
    display: flex;
    margin-left: 70px;
    justify-content: space-between;
    border: 1px solid #dddddd;
    border-radius: 4px;
    
}
.foot-language i{
    margin: 5px;
}
.foot-language p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.foot-language select{
    background-color: #222f3d;
    color: #dddddd;
    border: none;
    margin: 5px;
}

.country-margin{
    height: 50px;
    
    background-color: #222f3d;
}
.foot-country{

    display: flex;
    align-items: center;
    justify-content: center;
    
}
.foot-country a{
    margin-left: 10px;
    font-size: 12px;
    color: #dddddd;
}
.foot-country div{
    line-height: 10px; 
}



/* panel 4*/
.foot-panel4{
   
}
.foot-otherweb{
    height: 166px;
    display: flex;
    background-color: #131a22;
    justify-content: space-evenly;
    line-height: 5px;
    
}

.foot-otherweb2{
    margin-top: 5px;

    
}
.foot-otherweb p{
    color: #dddddd;
    font-size: 12px;
    margin-top: 30px;
}
.foot-otherweb a{
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #999999;
}


.foot-panel5{

    background-color: #131a22;
    color: #dddddd;
    height: 66px;
    font-size: 12px;
    font-weight: 400;

}
.foot-condition{
    display: flex;
    align-items: center;
    justify-content: center;

}
.foot-condition a{
    margin-left: 10px;
}

.foot-copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;

}
